* {
  margin: 0;
}

.mainhead {
  position: relative;
  top: 0;
  left: 0;
}

.img1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  display: flex;
  width: 100%;
  height: 100%;
}

.img1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.signin {

  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}


.image2 {
  position: absolute;
  top: 40px;
  left: 30px;
  height: 82px;
  margin-left: 118px;
  margin-top: -38px;
}

.txt {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 322px;
  padding-top: 228px;

}

.txt2 {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 381px;
  padding-top: 301px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  position: absolute;
  border-color: black;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 400;
  padding-left: 529px;
  padding-top: 414px;
}

.box input[type="email"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: black;
  zoom: 1;
  opacity: 0.5;
}

.getstart {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 16px;

}

.getstart2 {
 background-color: #e50914;
  color: #fdfbfb;
  border: none;
  padding: 3px 4px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 329px;
  margin-top: -49rem;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.getstart3{
  background-color: #e50914;
  color: #fdfbfb;
  border: none;
  padding: 7px 14px;
    padding-left: 14px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 329px;
  margin-top: -49rem;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 15px;
  margin-left: 37rem;
  margin-top: 0px;
}


#ready{
  font-size: 13px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 16rem;

}
.cont2 {
  height: 10px;
  width: 100%;
  display: flex;
  background: #2d2d2d;
}

.cont1 {
  height: 570px;
  width: 100%;
  display: flex;
  background: #000000;
  margin-top: 10px;
}

.cont3 {
  height: 12px;
  width: 100%;
  display: flex;
  background: #2d2d2d;
  margin-top: 570px;
}

.cont1-1 {
  height: 571px;
  width: 100%;
  display: flex;
  background: #000000;
  margin-top: 11px;
}

.cont4 {
  height: 12px;
  width: 100%;
  display: flex;
  background: #2d2d2d;
  margin-top: 570px;
}

.cont1-2 {
  height: 571px;
  width: 100%;
  display: flex;
  background: #000000;
  margin-top: 11px;
}

.cont5 {
  height: 12px;
  width: 100%;
  display: flex;
  background: #2d2d2d;
  margin-top: 570px;
}

.cont1-3 {
  height: 571px;
  width: 100%;
  display: flex;
  background: #000000;
  margin-top: 11px;
}

.txt3 {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 707;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 182px;
  padding-top: 209px;
}

.txt3-1 {
  position: absolute;
  color: white;
  font-size: 28px;
  font-weight: 245px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 184px;
  padding-top: 285px;
}

.tv {
  max-width: 100%;
  height: auto;
  padding-left: 805px;
  height: 419px;
  padding-top: 65px;
}

.txt4 {
  position: absolute;
  color: white;
  text-align: "";
  font-size: 3rem;
  font-weight: 707;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 776px;
  padding-top: 154px;
}

.txt4-1 {
  position: absolute;
  color: white;
  font-size: 28px;
  font-weight: 245px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 778px;
  padding-top: 287px;
}

.mobile {
  max-width: 100%;
  height: auto;
  padding-left: 190px;
  height: 419px;
  padding-top: 65px;
}

.cont1-4 {
  height: 1000px;
  width: 100%;
  display: flex;
  background: #000000;
  margin-top: 11px;
}

.cont6 {
  height: 12px;
  width: 100%;
  display: flex;
  background: #2d2d2d;
  margin-top: 570px;
}

.cont7 {
  height: 12px;
  width: 100%;
  display: flex;
  background: #2d2d2d;
  margin-top: 999px;
}

.cont1-5 {
  height: 500px;
  width: 100%;
  display: flex;
  background: #000000;
  margin-top: 0px;
}

.box2 {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  position: absolute;
  border-color: black;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 400;
  padding-left: 529px;
  padding-top: 914px;
}

.box2 input[type="email"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: black;
  zoom: 1;
  opacity: 0.5;
}

.txt9{
  position: absolute;
  color: white;
  text-align: center;
  font-size: 21px;
  font-weight: 405;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 435px;
  padding-top: 880px;
}

.b2{
  position: absolute;
  border-color: rgb(255, 255, 255);
  background-color: ;
  font-size: 26px;
  font-weight: 61;
  color: #b5b5b5;
  padding-left: 13rem;
  width: 160px;
  margin-left: 216px;
  border-radius: 7px;
  
}

.footer{
    padding: 50px 15% 10px;
    border-top: solid #000000;
    color :#777;
    background-color: #000000;
}  

.footer h2{
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
} 

.footer .col{
  flex-basis: 25px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.footer .col a{
  /* display: block; */
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;

}


/* Footer --------------------------------------------- */

.footer {
  padding: 3rem;
}
.footer-container {
  display: grid;
  max-width: 60rem;
  gap: 4.6rem;
  color: gray;
  padding-left: 154px;
}
.links {
  display: flex;
  line-height: 1.7;
  justify-content: space-between;
  gap: 2rem;
  margin-left: -22px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.language {
  position: relative;
}
.language-select {
  appearance: none;
  cursor: pointer;
  height: 27px;
  max-width: 124px;
  border-radius: 0.2rem;
  padding-inline: 2.4rem;
  outline: none;
  color: gray;
  background-color: transparent;
  margin-top: -22px;
}


.language-select1{
  appearance: none;
  cursor: pointer;
  height: 27px;
  max-width: 124px;
  border-radius: 0.2rem;
  padding-inline: 2.4rem;
  outline: none;
  color: gray;
  background-color: transparent;
  margin-top: -786px;
  margin-left: -199px;
}


.NI{
  color: #777;
  margin-top: 24px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.qus{
  color: #777;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.tvmp4{
  margin-left: -486px;
  margin-top: 145px;
  height: 242px;
  width: 408px;
}

.tv2mp4{
  margin-left: -538px;
  margin-top: 106px;
  height: 195px;
  width: 511px;
}

/* accodian */
#ahead{
  color: white;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  padding-left: 32rem;
  font-size: 40px;
  padding-top: 2rem;
  height: fit-content;
  width: 100%;
}

.accod{
  margin-top: 10rem;
  color: white;
  margin-left: -48rem;

}

.accod li{
  list-style: none;
  width: 70%;
  padding: 8px;
}


.accod li label{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after{
  content: '+';
  font-size: 34px;
  position: absolute;
  right: 20px;
}

input[type="radio"]{
  display: none;
}

.accod .content{
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s,padding 0.5s;
}

.accod input[type="radio"]:checked + label + .content{
  max-height: 600px;
  padding: 30px 20px;
}






